
.landing-text-heading {
  font-family: Montserrat;
  color: white;
  align-content: left;
  font-size: 3rem;
  text-align: left;
  font-weight: 900;
  letter-spacing: 0.5px;
}
.landing-text {
  font-family: Montserrat;
  color: white;
  align-content: left;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 1rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.landing-features {
  font-family: Montserrat;
  color: white;
  align-content: left;
  font-size: 1rem;
  text-align: left;
}
.lazyload {
  border: 0.5px solid #6f57ff;
  border-radius: 20px;
  box-shadow: 0 0 0.75rem 0.05rem #5541ff;
  align-content: center;
}
